*{
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}
header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

.prodCard img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.prodCard a{
    text-decoration: none;
    color: #161616;
}
.prod-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.prod-info {
    margin-top: 20px;
}
.prod-info h3{
    margin-bottom: 10px;
}
.prod-nav{
    height: 140px;
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.prod-nav a{
    color: black;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: .5mm;
    text-decoration: none;
    margin-right: 10px;
}
.prod-nav h2{
    font-size: 30px;
    letter-spacing: .4mm;
}
.prodDetail-backButton{
    height: 30px;
    width: 200px;
    background-color: burlywood;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    
}
.prodDetail-backButton a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: auto;
}
.prodDetailCard{
    height:500px ;
    max-width: 80%;
    margin: auto;
    display: flex;
    padding-top: 50px;
}
.prodDetailCard img{
    height: 100%;
    
}
.prodDetailCardInfo{
    width: 50%;
    margin: 50px;
}
.rating{
    display: flex;
}
.rating p{
    font-size: 20px;
    margin: 3px;
}
.rating img{
    height: 21px;
    margin: 3px;
}
.prodDetailCardInfo * {
    margin-top: 10px;
}
.prodDetailCardInfo p{
    font-size: 18px;
    color: rgb(77, 71, 71);

}
.prodDetailCardInfo h2{
    color: rgb(200, 166, 122);
}
.description{
    margin-top: 30px;
}
.availability{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.availability h3{
    margin-right: 30px;
}
.category h3{
    margin-right: 30px;
}
.category{
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
hr{
    max-width: 80%;
    margin: auto;
    border: 1px solid rgb(213, 183, 107);
}